extends layout

block content
  button#refresh(onclick="refresh()") refresh
  div#abc
    | 여기 그려주세요

  script.
    mermaid.initialize({
      startOnLoad:true
    });
    function refresh() {
      location.reload();
    }
    (function(){
      const container = document.getElementById("abc");
      const graphDefinition = '!{graphDefinition}';
      const cb = function(svgGraph){
        container.innerHTML = svgGraph;
      };
      mermaid.render('id1',graphDefinition,cb);
    })();

