doctype html
html
  head
    title= title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.9.0/mermaid.min.js')
    script(src='https://cdn.jsdelivr.net/npm/d3@5')
    script(src='https://cdn.jsdelivr.net/npm/markmap-lib@0.4/dist/view.min.js')
  body
    block content
