extends layout

block content
  style(type="text/css").
    * {
      margin: 0;
      padding: 0;
    }
    #mindmap {
      display: block;
      width: 100vw;
      height: 100vh;
    }
    #root button#refresh {
      visibility: hidden
    }
    #root:hover button#refresh {
      visibility: visible
    }

  div#root
    button#refresh(onclick="refresh()") refresh
    svg#mindmap

  script.
    function refresh() {
      location.reload();
    }
    (function(){
      const container = document.getElementById("abc");
      const markmapped = !{markmapped};
      markmap.markmap('svg#mindmap', markmapped).fit()
    })();

